<!--<nav class="navbar sticky-top navbar-expand-lg navbar-dark primary-color">

  <!-- Navbar brand -->
<!--  <a class="navbar-brand" href="#">NAme </a>

  <!-- Collapse button -->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
<!--  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
  <!--  <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>

      <!-- Dropdown -->
  <!--    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
    <!-- Links -->

  <!--  <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

<!--</nav>
<!--/.Navbar-->
<ul class="nav-mobile sty navbar-fixed-top">
  <li>Slug </li>
  <li class="menu-container">
    <input id="menu-toggle" type="checkbox">
    <!--<label for="menu-toggle" class="menu-button">
      <svg class="icon-open" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
      <svg class="icon-close" viewBox="0 0 100 100">
        <path d="M83.288 88.13c-2.114 2.112-5.575 2.112-7.69 0L53.66 66.188c-2.113-2.112-5.572-2.112-7.686 0l-21.72 21.72c-2.114 2.113-5.572 2.113-7.687 0l-4.693-4.692c-2.114-2.114-2.114-5.573 0-7.688l21.72-21.72c2.112-2.115 2.112-5.574 0-7.687L11.87 24.4c-2.114-2.113-2.114-5.57 0-7.686l4.842-4.842c2.113-2.114 5.57-2.114 7.686 0l21.72 21.72c2.114 2.113 5.572 2.113 7.688 0l21.72-21.72c2.115-2.114 5.574-2.114 7.688 0l4.695 4.695c2.112 2.113 2.112 5.57-.002 7.686l-21.72 21.72c-2.112 2.114-2.112 5.573 0 7.686L88.13 75.6c2.112 2.11 2.112 5.572 0 7.687l-4.842 4.84z"/>
      </svg>
    </label> -->
    <ul class="menu-sidebar">
      <li><a href="#">Item</a></li>
      <li><a href="#">Item</a></li>
      <li><a href="#">Item</a></li>
      <li>
        <input type="checkbox" id="sub-one" class="submenu-toggle">
        <label class="submenu-label" for="sub-one">Category</label>
        <div class="arrow right">&#8250;</div>
        <ul class="menu-sub">
          <li class="menu-sub-title">
            <label class="submenu-label" for="sub-one">Back</label>
            <div class="arrow left">&#8249;</div>
          </li>
          <li><a href="#">Sub-item</a></li>
          <li><a href="#">Sub-item</a></li>
          <li><a href="#">Sub-item</a></li>
          <li><a href="#">Sub-item</a></li>
        </ul>
      </li>
      <li>
        <input type="checkbox" id="sub-two" class="submenu-toggle">
        <label class="submenu-label" for="sub-two">Category</label>
        <div class="arrow right">&#8250;</div>
        <ul class="menu-sub">
          <li class="menu-sub-title">
            <label class="submenu-label" for="sub-two">Back</label>
            <div class="arrow left">&#8249;</div>
          </li>
          <li><a href="#">Sub-item</a></li>
          <li><a href="#">Sub-item</a></li>
          <li><a href="#">Sub-item</a></li>
          <li><a href="#">Sub-item</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<br><br>
<router-outlet></router-outlet>

<br>
<br>
<br>
<br>
<nav class="mobile-bottom-nav">
<div class="mobile-bottom-nav__item mobile-bottom-nav__item-active ">
 <div class="mobile-bottom-nav__item-content">
   <a  routerLink="/test" routerLinkActive="active-link" ><i class="fa fa-home" aria-hidden="true"></i>

     Home
     </a>
 </div>
</div>
<div class="mobile-bottom-nav__item">
 <div class="mobile-bottom-nav__item-content">
   <a  routerLink="/Search" routerLinkActive="active-link"> <i class="fa fa-search" aria-hidden="true"></i>

Search  </a>
 </div>
</div>
<div class="mobile-bottom-nav__item">
 <div class="mobile-bottom-nav__item-content">
   <a  routerLink="/cart" routerLinkActive="active-link"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
Cart   </a>
 </div>
</div>

<div class="mobile-bottom-nav__item">
 <div class="mobile-bottom-nav__item-content">
   <a  routerLink="/account" routerLinkActive="active-link"><i class="fa fa-user-circle" aria-hidden="true"></i>
   Account
</a> </div>
</div>
</nav>

<script>
  var navItems = document.querySelectorAll(".mobile-bottom-nav__item");
  navItems.forEach(function(e, i) {
  	e.addEventListener("click", function(e) {
  		navItems.forEach(function(e2, i2) {
  			e2.classList.remove("mobile-bottom-nav__item--active");
  		})
  		this.classList.add("mobile-bottom-nav__item--active");
  	});
  });
  </script>
