<div class="webpage">
<nav class="navbar navbar-expand-lg navbar-dark danger-color fixed-top scrolling-navbar">
  <a class="navbar-brand" href="#">Slug</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
     aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
     <ul class="navbar-nav mr-auto">


       <!--<li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">Dropdown
         </a>
         <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
           <a class="dropdown-item" href="#">Action</a>
           <a class="dropdown-item" href="#">Another action</a>
           <a class="dropdown-item" href="#">Something else here</a>
         </div>
       </li>-->
     </ul>
     <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <a class="nav-link" href="#">
           <i class="fa fa-search" aria-hidden="true"></i>

 Search</a>
       </li>
       <li class="nav-item ">
         <a class="nav-link" href="#">
           <i class="fa fa-percent" aria-hidden="true"></i>
 Offers
         </a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">
           <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
 Cart</a>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
           <i class="fas fa-user"></i> Profile </a>
         <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
           <a class="dropdown-item" href="#">My account</a>
           <a class="dropdown-item" href="#">Log out</a>
         </div>
       </li>
     </ul>
   </div>
   </div>
</nav>

<!------ Include the above in your HEAD tag ---------->
<div class="cardslider">
  <br>
  <br><br><br><br>
<div class="con ">
	<div class="row">
		<div class="MultiCarousel " data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner">
                <div class="item ">
                    <div class="pad15 ">
                      <img class="card-img-top" src="./assets/card1.jpg"   height="200px" alt="Card image">

                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                      <img class="card-img-top" src="./assets/card2.jpg"  height="200px" alt="Card image">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                      <img class="card-img-top" src="./assets/slug3.jpeg"  height="200px" alt="Card image">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                      <img class="card-img-top" src="./assets/card2.jpg"  height="200px" alt="Card image">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                      <img class="card-img-top" src="./assets/slug1.jpeg"  height="200px" alt="Card image">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                      <img class="card-img-top" src="./assets/card2.jpg"  height="200px" alt="Card image">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                      <img class="card-img-top" src="./assets/slug1.jpeg" height="200px" alt="Card image">
                    </div>
                </div>


                <div class="item">
                    <div class="pad15">
                      <img class="card-img-top" src="./assets/card2.jpg"  height="200px" alt="Card image">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary rightLst">></button>
        </div>
	</div>

</div>
</div>


<div class="row">
<div class="col-25">
<div class="main " >


  <ul class="sidebar-menu" data-spy="affix" data-offset-top="500">
    <li><span class="nav-section-title"></span></li>
    <li class="have-children"><a href="#"><span class="fa fa-university"></span>Exhibitions</a>
      <ul>
        <li><a href="#">Add Exhibition</a></li>
        <li><a href="#">View Exhibitions</a></li>
      </ul>
    </li>
    <li class="have-children"><a href="#"><span class="fa fa-tags"></span>Category</a>
      <ul>
        <li><a href="#">Add Category</a></li>
        <li><a href="#">View Categories</a></li>
      </ul>
    </li>
    <li class="have-children"><a href="#"><span class="fa fa-trophy"></span>Award</a>
      <ul>
        <li><a href="#">Add Award</a></li>
        <li><a href="#">View Awards</a></li>
      </ul>
    </li>
    <li class="have-children"><a href="#"><span class="fa fa-gavel"></span>Jury</a>
      <ul>
        <li><a href="#">Add Jury</a></li>
        <li><a href="#">View Juries</a></li>
      </ul>
    </li>
    <li class="have-children"><a href="#"><span class="fa fa-user-o"></span>Author</a>
      <ul>
        <li><a href="#">Add Author</a></li>
        <li><a href="#">View Authors</a></li>
      </ul>
    </li>
    <li><a href="#"><span class="fa fa-picture-o"></span>Gallery</a></li>
    <li class="have-children"><a href="#"><span class="fa fa-flag"></span>Reports</a>
      <ul>
        <li><a href="#">View Judging points</a></li>
        <li><a href="#">Create Acceptances List</a></li>
        <li><a href="#">Create Awarded List</a></li>
        <li><a href="#">View Candidates for Awards</a></li>
        <li><a href="responsive_table.html">Send Report Cards</a></li>
      </ul>
    </li>
    <li><a href="#"><span class="fa fa-envelope-o"></span>Messages</a></li>
    <li><a href="#"><span class="fa fa-gear"></span>Configuration</a></li>
  </ul>

  </div>
  </div>
  <div class="col-75">
  <div class="container">
    <br>
    <main class="grid" >

      <article >
        <img src="./assets/dog.jpg"   alt="Sample photo">
        <div class="text">

          <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's why</a>
        </div>
      </article>


      <article>
        <img src="./assets/noodels.jpg"  height="200px" width="100%"  alt="Sample photo">
        <div class="text">

          <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>
        </div>
      </article>
      <article>
        <img src="./assets/gulab.jpg"  height="200px" width="100%"  alt="Sample photo">
        <div class="text">
          <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>

        </div>
      </article>
      <article>
        <img src="https://picsum.photos/600/400?image=1041"  height="200px" width="100% "alt="Sample photo">
        <div class="text">

        </div>
      </article>
      <article >
        <img src="./assets/dog.jpg"   alt="Sample photo">
        <div class="text">

          <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's why</a>
        </div>
      </article>


      <article>
        <img src="./assets/noodels.jpg"  height="200px" width="100%"  alt="Sample photo">
        <div class="text">

          <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>
        </div>
      </article>
      <article>
        <img src="./assets/gulab.jpg"  height="200px" width="100%"  alt="Sample photo">
        <div class="text">
          <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>

        </div>
      </article>
      <article>
        <img src="https://picsum.photos/600/400?image=1041"  height="200px" width="100% "alt="Sample photo">
        <div class="text">

        </div>
      </article>  <article >
          <img src="./assets/dog.jpg"   alt="Sample photo">
          <div class="text">

            <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's why</a>
          </div>
        </article>


        <article>
          <img src="./assets/noodels.jpg"  height="200px" width="100%"  alt="Sample photo">
          <div class="text">

            <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>
          </div>
        </article>
        <article>
          <img src="./assets/gulab.jpg"  height="200px" width="100%"  alt="Sample photo">
          <div class="text">
            <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>

          </div>
        </article>
        <article>
          <img src="https://picsum.photos/600/400?image=1041"  height="200px" width="100% "alt="Sample photo">
          <div class="text">

          </div>
        </article>  <article >
            <img src="./assets/dog.jpg"   alt="Sample photo">
            <div class="text">

              <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's why</a>
            </div>
          </article>


          <article>
            <img src="./assets/noodels.jpg"  height="200px" width="100%"  alt="Sample photo">
            <div class="text">

              <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>
            </div>
          </article>
          <article>
            <img src="./assets/gulab.jpg"  height="200px" width="100%"  alt="Sample photo">
            <div class="text">
              <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>

            </div>
          </article>
          <article>
            <img src="https://picsum.photos/600/400?image=1041"  height="200px" width="100% "alt="Sample photo">
            <div class="text">

            </div>
          </article>  <article >
              <img src="./assets/dog.jpg"   alt="Sample photo">
              <div class="text">

                <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's why</a>
              </div>
            </article>


            <article>
              <img src="./assets/noodels.jpg"  height="200px" width="100%"  alt="Sample photo">
              <div class="text">

                <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>
              </div>
            </article>
            <article>
              <img src="./assets/gulab.jpg"  height="200px" width="100%"  alt="Sample photo">
              <div class="text">
                <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>

              </div>
            </article>
            <article>
              <img src="https://picsum.photos/600/400?image=1041"  height="200px" width="100% "alt="Sample photo">
              <div class="text">

              </div>
            </article>  <article >
                <img src="./assets/dog.jpg"   alt="Sample photo">
                <div class="text">

                  <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's why</a>
                </div>
              </article>


              <article>
                <img src="./assets/noodels.jpg"  height="200px" width="100%"  alt="Sample photo">
                <div class="text">

                  <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>
                </div>
              </article>
              <article>
                <img src="./assets/gulab.jpg"  height="200px" width="100%"  alt="Sample photo">
                <div class="text">
                  <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>

                </div>
              </article>
              <article>
                <img src="https://picsum.photos/600/400?image=1041"  height="200px" width="100% "alt="Sample photo">
                <div class="text">

                </div>
              </article>  <article >
                  <img src="./assets/dog.jpg"   alt="Sample photo">
                  <div class="text">

                    <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's why</a>
                  </div>
                </article>


                <article>
                  <img src="./assets/noodels.jpg"  height="200px" width="100%"  alt="Sample photo">
                  <div class="text">

                    <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>
                  </div>
                </article>
                <article>
                  <img src="./assets/gulab.jpg"  height="200px" width="100%"  alt="Sample photo">
                  <div class="text">
                    <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>

                  </div>
                </article>
                <article>
                  <img src="https://picsum.photos/600/400?image=1041"  height="200px" width="100% "alt="Sample photo">
                  <div class="text">

                  </div>
                </article>  <article >
                    <img src="./assets/dog.jpg"   alt="Sample photo">
                    <div class="text">

                      <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Here's why</a>
                    </div>
                  </article>


                  <article>
                    <img src="./assets/noodels.jpg"  height="200px" width="100%"  alt="Sample photo">
                    <div class="text">

                      <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>
                    </div>
                  </article>
                  <article>
                    <img src="./assets/gulab.jpg"  height="200px" width="100%"  alt="Sample photo">
                    <div class="text">
                      <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">Read more</a>

                    </div>
                  </article>
                  <article>
                    <img src="https://picsum.photos/600/400?image=1041"  height="200px" width="100% "alt="Sample photo">
                    <div class="text">

                    </div>
                  </article>
    </main>
  </div>
</div>
</div>

</div>





<!-- --------------------------------------------- mobile view -------------------------------------------------------------------->






  <div class="mobile-wrap mobile">
    <div class="sidebar">
      <div class="sidebar-overlay"></div>
      <div class="sidebar-content">
        <div class="top-head">
          <div class="name"> <img src="./assets/slug4.jpeg" width="50px" height="50px">Slug </div>
          <div class="email"></div>
        </div>
        <div class="nav-left">
          <a href="#home"><span class="ion-ios-home-outline"></span> Home</a>
          <a href="#alarm"><span class="ion-ios-list-outline"></span> Alarm</a>
          <a href="#compose"><span class="ion-ios-compose-outline"></span> Compose</a>
          <a href="#chats"><span class="ion-ios-chatboxes-outline"></span> Chats</a>
          <a href="#profile"><span class="ion-ios-person-outline"></span> Profile</a>
          <a href="#settings"><span class="ion-ios-gear-outline"></span> Settings</a>
          <a href="#credits"><span class="ion-ios-information-outline"></span> Credits</a>
        </div>
      </div>
    </div>
  	<div class="mobile clearfix">
     <header class="header">
        <span class="ion-ios-navicon pull-left"><i></i></span>
        </header>


  		<!--<div class="header">
  			<span class="title"></span>
  			<span class="ion-ios-search pull-right"></span>
  			<div class="search">
  			<form method="post">
  				<input type="search" placeholder="Search Here">
  			</form>
  			</div>
  		</div> -->

  		<div class="content">
  			<div class="html search">
  				<div class="title bounceInDown animated">Search Result</div>
  				<p class="flipInX animated">Sorry,<br>no matches found for <b class="key"></b></p>
  			</div>
  			<div class="html welcome visible">
  				<!--<div class="datetime">
  					<div class="day lightSpeedIn animated">Thursday</div>
  					<div class="date lightSpeedIn animated">June 18, 2015</div>
  					<div class="time lightSpeedIn animated">08:00 AM</div>
  				</div>
  			</div>-->

        <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2   "  data-ride="carousel">

          <!--Controls-->
          <div class="controls-top">
            <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"></a>
            <a class="btn-floating" href="#carousel-example-multi" data-slide="next"></a>
          </div>
          <!--/.Controls-->

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-multi" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-multi" data-slide-to="1"></li>
            <li data-target="#carousel-example-multi" data-slide-to="2"></li>
            <li data-target="#carousel-example-multi" data-slide-to="3"></li>
            <li data-target="#carousel-example-multi" data-slide-to="4"></li>
            <li data-target="#carousel-example-multi" data-slide-to="5"></li>
          </ol>
          <!--/.Indicators-->

          <div class="carousel-inner" role="listbox">

            <div class="carousel-item active">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="./assets/bk1.jpg" height= "192" width="192"
                    alt="Card image cap">

                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="./assets/kfc.jpg"height= "190px"
                    alt="Card image cap">

                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="./assets/paradise.jpg" height= "190px"
                    alt="Card image cap">

                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="./assets/mom.png" height= "190px"  alt="Card image cap">

                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="./assets/kfc.jpg" height= "190px" alt="Card image cap">

                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="./assets/bk.jpeg" height= "190px" alt="Card image cap">

                </div>
              </div>
            </div>

          </div>

  </div>

<br>
<br>




<h1> Grab Your Food </h1>
<br>
<div>

  </div>
          <button class="accordion">Veg     <p class="pull-right">+ </p></button>
          <div class="panel">
            <ul class="list-group">
                     <li class="list-group-item">Veg Manchurain
                        <button type="button" class="button plus pull-right">-</button>&nbsp;
                         <label class="pull-right">0</label>&nbsp; <button type="button" class="buttonn plus pull-right">+</button> </li>
                     <li class="list-group-item">Two
                        <button type="button" class="button plus pull-right">-</button>&nbsp;
                         <label class="pull-right">0</label>&nbsp; <button type="button" class="buttonn plus pull-right">+</button> </li>
                     <li class="list-group-item">Three
                        <button type="button" class="button plus pull-right">-</button>&nbsp;
                         <label class="pull-right">0</label>&nbsp; <button type="button" class="buttonn plus pull-right">+</button> </li>
                   </ul>          </div>

          <button class="accordion"> Non-Veg  <p class="pull-right">+ </p></button>
          <div class="panel">
            <ul class="list-group">
                     <li class="list-group-item">One
                        <button type="button" class="button plus pull-right">-</button>&nbsp;
                         <label class="pull-right">0</label>&nbsp; <button type="button" class="buttonn plus pull-right">+</button> </li>
                     <li class="list-group-item">Two
                        <button type="button" class="button plus pull-right">-</button>&nbsp;
                         <label class="pull-right">0</label>&nbsp; <button type="button" class="buttonn plus pull-right">+</button> </li>
                     <li class="list-group-item">Three
                        <button type="button" class="button plus pull-right">-</button>&nbsp;
                         <label class="pull-right">0</label>&nbsp; <button type="button" class="buttonn plus pull-right">+</button> </li>
                   </ul>          </div>

          <button class="accordion"> Beverages  <p class="pull-right">+ </p></button>
          <div class="panel">
            <ul class="list-group">
                     <li class="list-group-item">One
                        <button type="button" class="button plus pull-right">-</button>&nbsp;
                         <label class="pull-right">0</label>&nbsp; <button type="button" class="buttonn plus pull-right">+</button> </li>
                     <li class="list-group-item">Two
                        <button type="button" class="button plus pull-right">-</button>&nbsp;
                         <label class="pull-right">0</label>&nbsp; <button type="button" class="buttonn plus pull-right">+</button> </li>
                     <li class="list-group-item">Three
                        <button type="button" class="button plus pull-right">-</button>&nbsp;
                         <label class="pull-right">0</label>&nbsp; <button type="button" class="buttonn plus pull-right">+</button> </li>
                   </ul>          </div>
                   <footer  class="footer">
                     <p> fjgdaljkgf;jkdgfjkdg</p>
                     </footer>


<!-- home -->
    <!--    <div id="logos">
        <ul>
          <li><img src="./assets/kfc.jpg"  width="150px" height="150px"/></li>
          <li><img src="./assets/bk.jpeg"    width="150px" height="150px"/></li>
          <li><img src="http://placehold.it/100x100"  width="150px" height="150px"/></li>
          <li><img src="http://placehold.it/100x100"  width="150px" height="150px"/></li>
          <li><img src="http://placehold.it/100x100"  width="150px" height="150px"/></li>
          <li><img src="http://placehold.it/100x100" width="150px" height="150px" /></li>
        </ul>
      </div> -->
</div><br>

  			<div class="html alarm">
  				<div class="forecast clearfix">
  					<div class="datetime pull-left bounceInLeft animated">
  						<div class="day">Thursday</div>
  						<div class="date">June 18, 2015</div>
  					</div>
  					<div class="temperature pull-right bounceInRight animated">
  						<div class="unit"><span class="ion-ios-sunny-outline"></span> 34<i>&deg;</i></div>
  						<div class="location">Kathmandu, Nepal</div>
  					</div>
  				</div>
  				<div class="alarm-list">
  					<div class="note clearfix slideInRight animated">
  						<div class="time pull-left">
  							<div class="hour">9</div>
  							<div class="shift">AM</div>
  						</div>
  						<div class="to-do pull-left">
  							<div class="title">Finish HTML Coding</div>
  							<div class="subject">Web UI</div>
  						</div>
  					</div>
  					<div class="note clearfix slideInRight animated">
  						<div class="time pull-left">
  							<div class="hour">1</div>
  							<div class="shift">PM</div>
  						</div>
  						<div class="to-do pull-left">
  							<div class="title">Lunch Break</div>
  							<div class="subject"></div>
  						</div>
  					</div>
  					<div class="note clearfix slideInRight animated" data-revert="slideOutRight">
  						<div class="time pull-left">
  							<div class="hour">3</div>
  							<div class="shift">PM</div>
  						</div>
  						<div class="to-do pull-left">
  							<div class="title">Design Stand Up</div>
  							<div class="subject">Hangouts</div>
  							<div class="user-list clearfix">
  								<div class="user pull-left"><img src="https://raw.githubusercontent.com/khadkamhn/secret-project/master/img/usr-i.png"></div>
  								<div class="user pull-left"><img src="https://raw.githubusercontent.com/khadkamhn/secret-project/master/img/usr-ii.png"></div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="html compose">
  				<div class="forms">
  					<div class="group clearfix slideInRight animated">
  						<label class="pull-left" for="compose-time"><span class="ion-ios-time-outline"></span> Time</label>
  						<input class="pull-right" id="compose-time" type="time">
  					</div>
  					<div class="group clearfix slideInLeft animated">
  						<label class="pull-left" for="compose-date"><span class="ion-ios-calendar-outline"></span> Date</label>
  						<input class="pull-right" id="compose-date" type="date">
  					</div>
  					<div class="group clearfix slideInRight animated">
  						<label class="pull-left" for="compose-title"><span class="ion-ios-paper-outline"></span> Title</label>
  						<input class="pull-right" id="compose-title" type="text">
  					</div>
  					<div class="group clearfix slideInLeft animated">
  						<label class="visible" for="compose-detail"><span class="ion-ios-list-outline"></span> Task</label>
  						<textarea class="visible" id="compose-detail" rows="3"></textarea>
  					</div>
  					<div class="action flipInY animated">
  						<button class="btn">Compose</button>
  					</div>
  				</div>
  			</div>
  			<div class="html chats">
  				<div class="tabs-list clearfix">
  					<a href="#" class="tab active">Users</a>
  					<a href="#" class="tab">Messages</a>
  					<a href="#" class="tab">Groups</a>
  				</div>
  				<div class="active-users">
  					<div class="user clearfix rotateInDownLeft animated">
  						<div class="photo pull-left">
  							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg">
  						</div>
  						<div class="desc pull-left">
  							<p class="name">Connor Hartigan</p>
  							<p class="position">Web &amp; UI Designer</p>
  						</div>
  						<div class="idle pull-right"><span class="away"></span></div>
  					</div>
  					<div class="user clearfix rotateInDownRight animated">
  						<div class="photo pull-left">
  							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/markmushiva/128.jpg">
  						</div>
  						<div class="desc pull-left">
  							<p class="name">Jacob Lennon</p>
  							<p class="position">Front-End Developer</p>
  						</div>
  						<div class="idle pull-right"><span class="offline"></span></div>
  					</div>
  					<div class="user clearfix rotateInDownLeft animated">
  						<div class="photo pull-left">
  							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/scottohara/128.jpg">
  						</div>
  						<div class="desc pull-left">
  							<p class="name">Didier Mailly</p>
  							<p class="position">Co-Founder</p>
  						</div>
  						<div class="idle pull-right"><span class="away"></span></div>
  					</div>
  					<div class="user clearfix rotateInDownRight animated">
  						<div class="photo pull-left">
  							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/shalt0ni/128.jpg">
  						</div>
  						<div class="desc pull-left">
  							<p class="name">Miguel Cunha Ferreira</p>
  							<p class="position">Sales Manager</p>
  						</div>
  						<div class="idle pull-right"><span class="online"></span></div>
  					</div>
  					<div class="user clearfix rotateInDownLeft animated">
  						<div class="photo pull-left">
  							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/sircookieface/128.jpg">
  						</div>
  						<div class="desc pull-left">
  							<p class="name">Eric Yuriev</p>
  							<p class="position">App Developer</p>
  						</div>
  						<div class="idle pull-right"><span class="online"></span></div>
  					</div>
  					<div class="user clearfix rotateInDownRight animated">
  						<div class="photo pull-left">
  							<img src="https://s3.amazonaws.com/uifaces/faces/twitter/ryanmclaughlin/128.jpg">
  						</div>
  						<div class="desc pull-left">
  							<p class="name">Theodore Clark</p>
  							<p class="position">Project Manager</p>
  						</div>
  						<div class="idle pull-right"><span class="online"></span></div>
  					</div>
  				</div>
  			</div>
  			<div class="html settings">
  				<div class="setting-list">
  					<div class="gear clearfix slideInRight animated">
  						<div class="title pull-left">General</div>
  						<div class="action pull-right"><span class="ion-ios-arrow-right"></span></div>
  					</div>
  					<div class="gear clearfix slideInLeft animated">
  						<div class="title pull-left"><label for="gear-notice">Notification</label></div>
  						<div class="action pull-right"><input id="gear-notice" class="on-off" type="checkbox"><label for="gear-notice"></label></div>
  					</div>
  					<div class="gear clearfix slideInRight animated">
  						<div class="title pull-left"><label for="gear-sound">Sound</label></div>
  						<div class="action pull-right"><input id="gear-sound" class="on-off" type="checkbox" checked><label for="gear-sound"></label></div>
  					</div>
  					<div class="gear clearfix slideInLeft animated">
  						<div class="title pull-left">Theme</div>
  						<div class="action pull-right">Standard <span class="ion-ios-arrow-right"></span></div>
  					</div>
  					<div class="gear clearfix slideInRight animated">
  						<div class="title pull-left">Support</div>
  						<div class="action pull-right"><span class="ion-ios-arrow-right"></span></div>
  					</div>
  					<div class="gear clearfix slideInLeft animated">
  						<div class="title pull-left">Privacy</div>
  						<div class="action pull-right"><span class="ion-ios-arrow-right"></span></div>
  					</div>
  				</div>
  			</div>
  			<div class="html profile">
  				<div class="photo flipInX animated">
  					<img src="https://raw.githubusercontent.com/khadkamhn/secret-project/master/img/mohan.png">
  					<div class="social">
  						<a href="https://facebook.com/khadkamhn" class="soc-item soc-count-1"><span class="ion-social-facebook"></span></a>
  						<a href="https://twitter.com/khadkamhn" class="soc-item soc-count-2"><span class="ion-social-twitter"></span></a>
  						<a href="https://github.com/khadkamhn" class="soc-item soc-count-3"><span class="ion-social-github"></span></a>
  						<a href="https://pinterest.com/khadkamhn" class="soc-item soc-count-4"><span class="ion-social-pinterest"></span></a>
  						<a href="https://np.linkedin.com/in/khadkamhn" class="soc-item soc-count-5"><span class="ion-social-linkedin"></span></a>
  						<a href="https://codepen.io/khadkamhn" class="soc-item soc-count-6"><span class="ion-social-codepen"></span></a>
  						<a href="skype:khadkamhn?userinfo" class="soc-item soc-count-7"><span class="ion-social-skype"></span></a>
  						<a href="http://dribbble.com/khadkamhn" class="soc-item soc-count-8"><span class="ion-social-dribbble"></span></a>
  					</div>
  				</div>
  				<div class="details">
  					<p class="heading flipInY animated">
  						<span class="name">Mohan Khadka</span><span class="position">Web/Graphic Desiger</span>
  					</p>
  					<p class="text fadeInUp animated">Hi, It's me Mohan from Nepal. I'm a web and graphics designer. Designing is my passion and I am still learning and developing my skills on graphics designing and coding. I have been working on various designing projects.</p>
  				</div>
  			</div>
  			<div class="html credits">
  				<div class="title flipInY animated">I have been using the following assets to build this design</div>
  				<div class="credit-ol">
  					<div class="credit-li lightSpeedIn animated"><a href="https://www.google.com/fonts/specimen/Roboto" target="_blank">roboto</a> <span>for typography</span></div>
  					<div class="credit-li lightSpeedIn animated"><a href="https://jquery.com" target="_blank">jquery</a> <span>for design/ui</span></div>
  					<div class="credit-li lightSpeedIn animated"><a href="http://ionicons.com/" target="_blank">ionicons</a> <span>for icons</span></div>
  					<div class="credit-li lightSpeedIn animated"><a href="http://uifaces.com/authorized" target="_blank">ui faces</a> <span>for avatar</span></div>
  					<div class="credit-li lightSpeedIn animated"><a href="https://daneden.github.io/animate.css/" target="_blank">animate.css</a> <span>for animation</span></div>
  					<div class="credit-li lightSpeedIn animated"><a href="https://dribbble.com/shots/1928064-Secret-Project" target="_blank">concept of design</a> <span>for layout</span></div>
  					<div class="credit-li lightSpeedIn animated"><a href="https://unsplash.com/photos/6asyCyR0K1Q/download" target="_blank">unsplash.com</a> <span>for background</span></div>
  				</div>
  				<div class="text zoomInUp animated">I'm glad for using these resources and expecting same as time ahead</div>
  			</div>
  		</div>
  		<div class="nav">
  			<a href="#profile" class="nav-item nav-count-1"><i class="ion-ios-person-outline"></i><span class="invisible">Profile</span></a>
  			<a href="#compose" class="nav-item nav-count-2"><i class="ion-ios-compose-outline"></i><span class="invisible">Compose</span></a>
  			<a href="#chats" class="nav-item nav-count-3"><i class="ion-ios-chatboxes-outline"></i><span class="invisible">Chats</span></a>
  			<a href="#alarm" class="nav-item nav-count-4"><i class="ion-ios-alarm-outline"></i><span class="invisible">Alarm</span></a>
  			<a href="#toggle" class="mask"><i class="ion-ios-plus-empty"></i></a>
  		</div>
  	</div>


  </div>




<script>
  </script>
