
<h1 class="title-pen">
    <div class="username">Name </div></h1>
<div class="user-profile">


  <div class="bio">

  <div class="w3-row w3-section">
    <div class="w3-col" style="width:50px; font-size:1em">Mobile</div>
      <div class="w3-rest">
        <input class="w3-input" type="text">
      </div>
  </div>
  <div class="w3-row w3-section">
    <div class="w3-col" style="width:50px">Email</div>
      <div class="w3-rest">
        <input class="w3-input" type="text">
      </div>
  </div>  <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px">Address</div>
        <div class="w3-rest">
          <input class="w3-input" type="text">
        </div>
    </div>
  </div>
    <div class="description">

  </div>
  <!--<ul class="data">
    <li>
      <span class="entypo-heart"> 127</span>
    </li>
    <li>
      <span class="entypo-eye"> 853</span>
    </li>
    <li>
      <span class="entypo-user"> 311</span>
    </li>
 </ul> -->
 <hr>

 <h3 class="title-pen"  > Previous Orders</h3>
</div>
